<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Dine Assignment</h2>
	</div>
	
	<div>
		<div class="form-group">
			<label class="inline">Camp:</label>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" ng-click="vm.changeCampSite('A')" ng-class="{'btn btn-default active': vm.selectedCamp==='A', 'btn btn-default': vm.selectedCamp!=='A'}">A</button>
				<button type="button" ng-click="vm.changeCampSite('B')" ng-class="{'btn btn-default active': vm.selectedCamp==='B', 'btn btn-default': vm.selectedCamp!=='B'}">B</button>
			</div>
			<label class="inline">Day:</label>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" ng-click="vm.changeDineDay(1)" ng-class="{'btn btn-default active': vm.selectedDay===1, 'btn btn-default': vm.selectedDay!==1}">1</button>
				<button type="button" ng-click="vm.changeDineDay(2)" ng-class="{'btn btn-default active': vm.selectedDay===2, 'btn btn-default': vm.selectedDay!==2}">2</button>
				<button type="button" ng-click="vm.changeDineDay(3)" ng-class="{'btn btn-default active': vm.selectedDay===3, 'btn btn-default': vm.selectedDay!==3}">3</button>
				<button type="button" ng-click="vm.changeDineDay(4)" ng-class="{'btn btn-default active': vm.selectedDay===4, 'btn btn-default': vm.selectedDay!==4}">4</button>
			</div>
			<button class="btn btn-default" type="button" ng-click="vm.saveAssignment()" ng-disabled="vm.isLoading">Save</button>
			<button class="btn btn-default" type="button" ng-click="vm.autoAssign()" ng-disabled="vm.isLoading">Auto Assignment</button>
			<button class="btn btn-default" type="button" ng-click="vm.calculateCost()" ng-disabled="vm.isLoading">Calculate Cost</button>
			<button class="btn btn-default" type="button" ng-click="vm.reloadData()" ng-disabled="vm.isLoading">Reload Data</button>
			<button class="btn btn-default" type="button" ng-click="vm.openPrintTemplate()" ng-disabled="vm.isLoading">Print</button>
		</div>

		<div class="container-fluid">
			<h4>顯示:</h4>
			<div class="row">
				<div class="col-xs-3"><label><input type="checkbox" ng-model="vm.filter.genderBalance">男女比例平衡</label></div>
				<div class="col-xs-3"><label><input type="checkbox" ng-model="vm.filter.familySameTable">家庭同檯</label></div>
			</div>
			<div class="row">
				<div class="col-xs-3"><label><input type="checkbox" ng-model="vm.filter.mentorInTable">駐檯導師</label></div>
				<div class="col-xs-3"><label><input type="checkbox" ng-model="vm.filter.sameSundayClass">同組同檯陪伴</label></div>
			</div>
		</div>

		<div ng-repeat="dineTableGroup in vm.getSelectedDineAssignmentPlan().dineTableGroups">
			<div ng-if="$even" class="row">
				<dine-table class="col-xs-6" dine-table-data="dineTableGroup" filter="vm.filter" selected-day="vm.selectedDay"></dine-table>
				<dine-table class="col-xs-6" ng-if="vm.getSelectedDineAssignmentPlan().dineTableGroups[$index + 1]"
				dine-table-data="vm.getSelectedDineAssignmentPlan().dineTableGroups[$index + 1]" filter="vm.filter" selected-day="vm.selectedDay"></dine-table>
			</div>
		</div>
		
	</div>
	
	<br>
</div>