<div class="panel panel-default">
	<div class="panel-body">
		<div class="dine-table-panel">
			<label>Table {{vm.getTableName()}}</label>
			<div class="row">
				<div class="col-xs-6" ng-if="vm.filter.genderBalance" ng-class="vm.displayAlertClass(vm.getCost('GENDER_BALANCE'))">
					<p>男女比例平衡: {{vm.getCost('GENDER_BALANCE') | number : 2}}</p>
				</div>
				<div class="col-xs-6" ng-if="vm.filter.familySameTable" ng-class="vm.displayAlertClass(vm.getCost('FAMILY_SAME_TABLE'))">
					<p>家庭同檯: {{vm.getCost('FAMILY_SAME_TABLE') | number : 2}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6" ng-if="vm.filter.mentorInTable" ng-class="vm.displayAlertClass(vm.getCost('MENTOR_IN_TABLE'))">
					<p>駐檯導師: {{vm.getCost('MENTOR_IN_TABLE') | number : 2}}</p>
				</div>
				<div class="col-xs-6" ng-if="vm.filter.sameSundayClass" ng-class="vm.displayAlertClass(vm.getCost('SAME_GROUP'))">
					<p>同組同檯陪伴: {{vm.getCost('SAME_GROUP') | number : 2}}</p>
				</div>
			</div>
			
			<table class="table table-condensed table-striped" ui-on-Drop="vm.onParticipantDrop($event, $data, vm.dineTableData.participants)">
				<tr>
					<th>姓名</th>
					<th>性別</th>
					<th>主日學班</th>
					<th>組別</th>
					<th>晚</th>
					<th>早</th>
					<th>午</th>
				</tr>
				<tr ng-repeat="participant in vm.dineTableData.participants | orderBy:'gender' | orderBy:'sundaySchoolClass' | GroupMentorOnTop"
				ui-draggable="true" drag="participant"
				on-drop-success="vm.dropSuccessHandler($event, $index, participant)">
					<td>{{participant.name}}</td>
					<td>{{participant.gender | GenderFilter}}</td>
					<td>{{participant.sundaySchoolClass}}</td>
					<td>{{participant.groupNumber | GroupDisplayFilter}}</td>
					<td>
						<div ng-if="vm.showAvailability(vm.selectedDay, 'NIGHT', participant.dineAvailabilitys)">✓</div>
						<div ng-if="!vm.showAvailability(vm.selectedDay, 'NIGHT', participant.dineAvailabilitys)">X</div>
					</td>
					<td>
						<div ng-if="vm.showAvailability(vm.selectedDay, 'MORNING', participant.dineAvailabilitys)">✓</div>
						<div ng-if="!vm.showAvailability(vm.selectedDay, 'MORNING', participant.dineAvailabilitys)">X</div>
					</td>
					<td>
						<div ng-if="vm.showAvailability(vm.selectedDay, 'NOON', participant.dineAvailabilitys)">✓</div>
						<div ng-if="!vm.showAvailability(vm.selectedDay, 'NOON', participant.dineAvailabilitys)">X</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>